<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="comprar sabanas, comprar vasos, comprar decoraciones, plantas para interior, plantas para exterior">
    <meta name="keywords" content="tienda cocina hogar">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/trabajo.css">
    <link href = "https://fonts.googleapis.com/css2? family = Lector de noticias: wght @ 400; 500; 600 & display = swap "rel =" stylesheet ">
    <!--Titulo-->
    <title>tiendabazardetodounpoco-promociones</title>
</head>
    <body>
        <header>              
            <div class="container-fluid">
                <div class="row">
                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                        <div class="container-fluid">
                            <a class="navbar-brand" href="../views/Idea-Dalence.html"><img src="../img/Free_Sample_By_Wix.jpg" alt="logo"></a>
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarNav">
                                <ul class="navbar-nav">
                                    <li class="nav-item">
                                      <a class="nav-link active" aria-current="page" href="../views/Idea-Dalence1.html">Productos</a>
                                    </li>
                                    <li class="nav-item">
                                      <a class="nav-link" href="../views/Idea-Dalence2.html">Ventas por Mayor</a>
                                    </li>
                                    <li class="nav-item">
                                      <a class="nav-link" href="">Promociones</a>
                                    </li>
                                    <li class="nav-item">
                                      <a class="nav-link" href="../views/Idea-Dalence4.html" >Contacto</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                          <form class="d-flex">
                             <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
                             <button class="btn btn-outline-success" type="submit">Buscar</button>
                          </form>
                   </nav> 
                </div>
            </div>
        </header>
        <h1>tienda bazar de todo un poco</h1>
        <section class="contenido"> 
            <h2>promociones</h2>
            <br>
           <section class="container">
               <div class="row">
                  <div class="d-flex">
                      <div class="card" style="width: 18rem;">
                         <img src="../img/cubrecamas 300.jpg" class="card-img-top" alt="cubrecamas">
                            <div class="card-body">
                               <h5 class="card-title">Cubrecamas</h5>
                               <p class="card-text">Cubrecamas 2 plazas $3000</p>
                               <a href="#" class="btn btn-primary">Comprar</a>
                            </div>
                      </div>
                      <div class="card" style="width: 18rem;">
                         <img src="../img/espejo redondo 300x300.jpg" class="card-img-top" alt="espejo">
                            <div class="card-body">
                               <h5 class="card-title">Espejo Redondo</h5>
                               <p class="card-text">Espejo redondo negro $800.</p>
                               <a href="#" class="btn btn-primary">Comprar</a>
                           </div>
                     </div>
                     <div class="card" style="width: 18rem;">
                         <img src="../img/ollas 300x300.jpg" class="card-img-top" alt="olla">
                            <div class="card-body">
                              <h5 class="card-title">Olla</h5>
                              <p class="card-text"> Olla grande $2500</p>
                              <a href="#" class="btn btn-primary">Comprar</a>
                           </div>
                     </div>
                     <div class="card" style="width: 18rem;">
                         <img src="../img/cubiertos 300x300.jpg" class="card-img-top" alt="cubiertos">
                            <div class="card-body">
                              <h5 class="card-title">Cubiertos</h5>
                              <p class="card-text"> Juego de cubiertos $1200</p>
                              <a href="#" class="btn btn-primary">Comprar</a>
                         </div>
                     </div>
                 </div>
                  <div class="d-flex">
                     <div class="card" style="width: 18rem;">
                         <img src="../img/sabanas 300x300.jpg" class="card-img-top" alt="sabanas">
                            <div class="card-body">
                              <h5 class="card-title">Sabanas</h5>
                              <p class="card-text"> Sabanas de 2 plazas $2500</p>
                              <a href="#" class="btn btn-primary">Comprar</a>
                           </div>
                     </div>
                     <div class="card" style="width: 18rem;">
                         <img src="../img/salpimentero 300x300.jpg" class="card-img-top" alt="salpimentero">
                            <div class="card-body">
                              <h5 class="card-title">Salpimentero</h5>
                              <p class="card-text"> salpimentero  de vidrio $500</p>
                              <a href="#" class="btn btn-primary">Comprar</a>
                           </div>
                     </div>
                     <div class="card" style="width: 18rem;">
                         <img src="../img/set de vasos 300 3.jpg" class="card-img-top" alt="vasos">
                            <div class="card-body">
                              <h5 class="card-title">Set de vasos</h5>
                              <p class="card-text">Set de vasos $800</p>
                              <a href="#" class="btn btn-primary">Comprar</a>
                           </div>
                     </div>
                     <div class="card" style="width: 18rem;">
                         <img src="../img/regadera 300 3.jpg" class="card-img-top" alt="regadera">
                           <div class="card-body">
                             <h5 class="card-title">Regadera</h5>
                             <p class="card-text">Regadera $400</p>
                             <a href="#" class="btn btn-primary">Comprar</a>
                           </div>
                     </div>
                  </div>
              </div>
            </section>
    
            <br><br>
                             
            <!--pie de pagina-->
       <footer class="container-fluid">
          <div class="row">
              <div class="d-flex">
                  <div class="col-4 mediosPago">
                    <h4>medios de pago</h4>
                        <ul>
                          <li>tarjeta visa</li> 
                          <li>tarjeta mastercard</li> 
                          <li>efectivo</li>
                          <li>transferencia bancaria</li>
                        </ul>
                  </div>
                  <div class="col-4 envios">
                     <h4>envios</h4>
                     <p>correo argentino</p>
                  </div>
                  <div class="col-4 contactos">
                      <h4>contactos</h4>
                         <p>4387-5412</p>
                        <p>tiendabazardetodounpoco@gmail.com</p>
                        <p>118745-9654</p>
                  </div>
              </div>
          </div>
              <div class="row">
                 <div class="finalPagina">
                  <a href="facebook"> facebook</a>
                  <a href="instagram">instagram</a>
                  <a href="twitter">twitter</a>
                </div>
              </div>
       </footer>
         <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
    </body>
</html>