<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="comprar sabanas, comprar vasos, comprar decoraciones, plantas para interior, plantas para exterior">
        <meta name="keywords" content="tienda cocina hogar">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
        <link rel="stylesheet" href="../assets/trabajo.css">
<link href = "https://fonts.googleapis.com/css2? family = Lector de noticias: wght @ 400; 500; 600 & display = swap "rel =" stylesheet ">
   <!--Titulo-->
        <title>tiendabazardetodounpoco</title>
    </head>  
    <body>
    <!--cabecera-->
      <header> 
        <div class="container-fluid">
           <div class="row">
              <nav class="navbar navbar-expand-lg navbar-light bg-light">
                 <div class="container-fluid">
                    <a class="navbar-brand" href=""><img src="../img/Free_Sample_By_Wix.jpg" alt="logo"></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                     <span class="navbar-toggler-icon"></span>
                    </button>
                       <div class="collapse navbar-collapse" id="navbarNav">
                          <ul class="navbar-nav">
                              <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="../views/Idea-Dalence1.html">Productos</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" href="../views/Idea-Dalence2.html">Ventas por Mayor</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" href="../views/Idea-Dalence3.html">Promociones</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" href="../views/Idea-Dalence4.html" >Contacto</a>
                              </li>
                          </ul>
                       </div>
                 </div>
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Buscar</button>
                    </form>
              </nav>
           </div>
        </div>
     </header>
<main>
       <div>
         <h1>tienda bazar de todo un poco</h1>
          <h2>todo para tu hogar</h2>
             <section class="container-fluid">
                <div class="row">
                   <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                       <div class="carousel-indicators">
                          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                       </div>
                          <div class="carousel-inner">
                             <div class="carousel-item active">
                                 <img src="../img/jardin ofi 2.jpeg" class="d-block w-100" alt="...">
                             </div>
                                <div class="carousel-item">
                                   <img src="../img/hogar presentacion.jpg" class="d-block w-100" alt="...">
                                </div>
                                    <div class="carousel-item">
                                       <img src="../img/baño presentacion oficial.jpeg" class="d-block w-100" alt="...">
                                    </div>
                          </div>
                                      
                          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                          </button>
                          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                             <span class="carousel-control-next-icon" aria-hidden="true"></span>
                             <span class="visually-hidden">Next</span>
                          </button>
                   </div>
                </div>
             </section>
                <section class="tienda">
                    <p> Somos una tienda familiar que comercializa artículos de bazar, baños, cocina y decoración,  . 
                    <p>Llevamos más de de 10 años en el mercado, somos importadores directos y realizamos ventas por mayor y menor, con precios que procuramos sean imbatibles. </p>
                    <p>Tenemos 5 locales abiertos al público en la zona oeste del Conurbano Bonaerense y también hacemos envíos a todo el país.
                      Nuestro lema en bazar de tienda todo un poco es “Lo buscás, lo tenés.”, porque cubrimos un amplio abanico de rubros y porque a su vez, de cada uno de ellos, tenemos muchísimos productos para ofrecer. </p>                                                  
                </section>
               </main>
           <!--pie de pagina--> 
        <footer class="container-fluid">
           <div class="row">
               <div class="d-flex">
                   <div class="col-4 mediosPago">
                       <h4>medios de pago</h4>
                           <ul>
                              <li>tarjeta visa</li> 
                              <li>tarjeta mastercard</li> 
                              <li>efectivo</li>
                              <li>transferencia bancaria</li>
                            </ul>
                    </div>
                       <div class="col-4 envios">
                           <h4>envios</h4>
                           <p>correo argentino</p>
                       </div>
                          <div class="col-4 contactos">
                              <h4>contactos</h4>
                                <p>4387-5412</p>
                                <p>tiendabazardetodounpoco@gmail.com</p>
                                <p>118745-9654</p>
                          </div>
               </div>
            </div>
                  <div class="row">
                     <div class="finalPagina">
                        <a href="facebook"> facebook</a>
                        <a href="instagram">instagram</a>
                        <a href="twitter">twitter</a>
                     </div>
                  </div>

        </footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
    </body>
</html>

